.cf:after,
.nav:after,
.payment_methods.methods:after,
ul.woocommerce-error:after,
.btn-list:after,
.shop_table.cart .actions:after,
.payment_methods.methods li:after {
    display: table;
    clear: both;
    content: ''
}

h1,
h2,
h3,
h4,
h5,
h6,
hgroup,
ul,
ol,
dl,
blockquote,
p,
address,
table,
fieldset,
figure,
pre,
.media,
.island,
.islet {
    margin-bottom: 24px;
    margin-bottom: 1.5rem
}

.islet h1,
.islet h2,
.islet h3,
.islet h4,
.islet h5,
.islet h6,
.islet hgroup,
.islet ul,
.islet ol,
.islet dl,
.islet blockquote,
.islet p,
.islet address,
.islet table,
.islet fieldset,
.islet figure,
.islet pre,
.islet .media,
.islet .island,
.islet .islet {
    margin-bottom: 12px;
    margin-bottom: .75rem
}

.landmark {
    margin-bottom: 48px;
    margin-bottom: 3rem
}

hr {
    margin-top: -2px;
    margin-bottom: 24px;
    margin-bottom: 1.5rem
}

ul,
ol,
dd {
    margin-left: 48px;
    margin-left: 3rem
}

.nav,
.payment_methods.methods,
ul.woocommerce-error {
    margin-left: 0;
    list-style: none
}

.nav>li,
.payment_methods.methods>li,
ul.woocommerce-error>li,
.nav>li>a,
.payment_methods.methods>li>a,
ul.woocommerce-error>li>a {
    display: inline-block;
    zoom: 1;
    *display: inline
}

.nav--stacked>li,
.payment_methods.methods>li,
ul.woocommerce-error>li {
    display: list-item
}

.nav--stacked>li>a,
.payment_methods.methods>li>a,
ul.woocommerce-error>li>a {
    display: block
}

.nav--banner {
    text-align: center
}

.nav--block {
    line-height: 1;
    white-space: nowrap;
    letter-spacing: -.31em;
    word-spacing: -.43em
}

.nav--block>li {
    letter-spacing: normal;
    word-spacing: normal
}

.nav--block>li>a {
    padding: 12px;
    padding: .75rem
}

.nav--fit {
    display: table;
    width: 100%
}

.nav--fit>li {
    display: table-cell
}

.nav--fit>li>a {
    display: block
}

.nav--keywords>li:after {
    content: '\002C' '\00A0'
}

.nav--keywords>li:last-child:after {
    display: none
}

.btn,
#review_form_wrapper #submit,
.woocommerce .button,
.onsale {
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.08143;
    padding: 12px 36px;
    transition: all .15s;
    letter-spacing: .0625em;
    color: #a6a1a1;
    border-radius: 24px;
    background: #1a1717;
    background: linear-gradient(#313131, #1e1e1e)
}

.btn:hover,
#review_form_wrapper #submit:hover,
.woocommerce .button:hover,
.onsale:hover {
    color: white;
    background: #2ecc71;
    background: linear-gradient(#2ecc71, #31d676)
}

.btn.btn--beta,
#review_form_wrapper .btn--beta#submit,
.woocommerce .btn--beta.button,
.btn--beta.onsale {
    font-size: 14px;
    font-size: .875rem;
    line-height: 2.68857
}

.btn.btn--alpha,
#review_form_wrapper .btn--alpha#submit,
.woocommerce .btn--alpha.button,
.btn--alpha.onsale {
    font-size: 14px;
    font-size: .875rem;
    line-height: 3.22429
}

.btn--primary,
#review_form_wrapper #submit {
    color: white;
    background: #2ecc71
}

.btn--primary:hover,
#review_form_wrapper #submit:hover {
    background: #1a1717
}

.btn--secondary,
.btn--tertiary,
.woocommerce .button,
.onsale {
    color: white
}

.btn--tertiary {
    background: #878787
}

.btn--transparent {
    border-width: 2px !important;
    border-style: solid;
    border-color: #fff;
    background: transparent
}

.btn--small,
.woocommerce .button,
.onsale {
    font-size: 13px;
    font-size: .8125rem;
    line-height: 1.16385;
    padding: 6px 24px
}

.btn--small.btn--beta,
.woocommerce .btn--beta.button,
.btn--beta.onsale {
    font-size: 11px;
    font-size: .6875rem;
    line-height: 2.73727
}

.btn--small.btn--alpha,
.woocommerce .btn--alpha.button,
.btn--alpha.onsale {
    font-size: 11px;
    font-size: .6875rem;
    line-height: 3.41909
}

.btn--large,
.woocommerce .button.single_add_to_cart_button {
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.08143;
    padding: 12px 36px
}

.btn--large.btn--beta,
.woocommerce .btn--beta.button.single_add_to_cart_button {
    font-size: 14px;
    font-size: .875rem;
    line-height: 3.76
}

.btn--large.btn--alpha,
.woocommerce .btn--alpha.button.single_add_to_cart_button {
    font-size: 14px;
    font-size: .875rem;
    line-height: 4.29571
}

.btn--huge {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 3.01;
    padding: 12px 24px;
    border-radius: 36px
}

.btn--huge.btn--beta {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 3.76
}

.btn--huge.btn--alpha {
    font-size: 20px;
    font-size: 1.25rem;
    line-height: 4.51
}

.btn-list {
    margin: 0 0 0 -2px;
    padding: 0;
    list-style: none
}

.btn-list > .btn,
#review_form_wrapper .btn-list > #submit,
.woocommerce .btn-list>.button,
.btn-list>.onsale,
.btn-list>li,
.btn-list>a {
    float: left;
    margin-bottom: 2px;
    margin-left: 2px
}

.mosaic__item.product {
    position: relative
}

.mosaic__item.product:hover .add_to_cart_button,
.touch .mosaic__item.product .add_to_cart_button {
    opacity: 1
}

.mosaic__item.product:hover .add_to_cart_button:after,
.touch .mosaic__item.product .add_to_cart_button:after {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1
}

.mosaic__item.product .add_to_cart_button {
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 24px;
    opacity: 0
}

.mosaic__item.product .add_to_cart_button:after {
    font-family: 'Maven Pro', sans-serif;
    font-size: 12px;
    font-size: .75rem;
    line-height: 1.26;
    margin-left: 12px;
    content: 'Add to cart';
    transition: all .2s linear;
    -webkit-transform: translateX(-25px);
    transform: translateX(-25px);
    text-transform: uppercase;
    opacity: 0
}

.mosaic__item.product .add_to_cart_button:hover:after {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1
}

.mosaic__item.product .added_to_cart {
    font-family: 'Maven Pro', sans-serif;
    font-size: 12px;
    font-size: .75rem;
    line-height: 1.26;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 24px;
    text-transform: uppercase
}

@media screen and (max-width: 480px) {
    .mosaic__item.product .add_to_cart_button,
    .mosaic__item.product .onsale {
        display: none
    }
}

.shop_table.cart a {
    border-bottom: none
}

@media only screen and (min-width: 900px) {
    .shop_table.cart tr:first-of-type {
        border-top: 0
    }
}

.shop_table.cart .product-name {
    text-align: left
}

.shop_table.cart .product-quantity {
    text-align: center
}

.shop_table.cart .product-thumbnail {
    width: 100px
}

@media only screen and (min-width: 900px) {
    .shop_table.cart .coupon,
    .shop_table.cart .coupon input {
        float: left
    }
}

.shop_table.cart .coupon label {
    margin-bottom: 12px;
    text-align: left
}

.shop_table.cart .coupon .input-text {
    margin-bottom: 24px !important
}

@media not screen and (min-width: 900px) {
    .shop_table.cart {}
    .shop_table.cart,
    .shop_table.cart thead,
    .shop_table.cart tbody,
    .shop_table.cart th,
    .shop_table.cart td,
    .shop_table.cart tr {
        display: block
    }
    .shop_table.cart thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px
    }
    .shop_table.cart tr {
        border: 1px solid #bfbfbf
    }
    .shop_table.cart td {
        position: relative;
        margin-bottom: 0;
        border: none;
        border-bottom: 1px solid #bfbfbf
    }
    .shop_table.cart td:not(.product-thumbnail):not(.product-remove):not(.actions) {
        padding-left: 50%;
        text-align: left
    }
    .shop_table.cart td:before {
        position: absolute;
        top: 50%;
        left: 12px;
        width: 45%;
        padding-right: 10px;
        content: attr(data-mobile-caption);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: left;
        white-space: nowrap
    }
    .shop_table.cart td.product-thumbnail {
        display: block
    }
    .shop_table.cart td.product-thumbnail.product-thumbnail {
        width: 100%
    }
    .shop_table.cart td.product-thumbnail a {
        display: block;
        border: 0
    }
    .shop_table.cart td.product-thumbnail img {
        display: block;
        margin: 0 auto
    }
    .shop_table.cart td.product-remove.product-remove {
        border-bottom: 0
    }
    .shop_table.cart td.product-remove.product-remove a {
        font-size: 22px;
        display: block;
        width: 100%;
        text-align: center
    }
    .shop_table.cart td.actions .coupon {
        margin-bottom: 12px
    }
    .shop_table.cart td.actions input {
        float: none !important;
        width: 100% !important
    }
}

.cart-submit-buttons {
    float: right;
    text-align: right
}

@media not screen and (min-width: 900px) {
    .cart-submit-buttons input,
    .cart-submit-buttons a {
        float: none;
        width: 100%;
        margin-bottom: 12px;
        text-align: center
    }
}

table.shop_table tr:last-child {
    border-top: 1px solid black
}

@media not screen and (min-width: 900px) {
    .wc-proceed-to-checkout {
        margin-bottom: 15px
    }
    .shipping-calculator-button,
    .wc-proceed-to-checkout a {
        display: block;
        width: 100%;
        text-align: center
    }
}

@media only screen and (min-width: 900px) {
    .shipping-calculator-button {
        float: left
    }
    .wc-proceed-to-checkout {
        float: right
    }
}

.cart-collaterals table th {
    width: 35%
}

#ship-to-different-address label,
#ship-to-different-address input,
.form-row.create-account label,
.form-row.create-account input {
    display: inline-block
}

#ship-to-different-address label,
.form-row.create-account label {
    margin: 0 12px 0 0;
    padding-left: 0
}

.checkout_coupon {
    margin-top: 24px
}

.payment_methods.methods li {
    position: relative;
    padding-left: 24px
}

.payment_methods.methods input[type='radio'] {
    position: absolute;
    top: 6px;
    left: 0;
    float: left
}

.payment_methods.methods label {
    display: inline-block;
    margin-bottom: 12px
}

.payment_methods.methods .payment_box {
    font-size: 14px;
    font-size: .875rem;
    line-height: 1.08143
}

#order_review {
    margin-bottom: 24px
}

.payment_method_paypal img {
    display: inline-block;
    margin: 0 10px 0 5px;
    vertical-align: middle
}

div.product .images {
    position: relative
}

div.product .images a {
    border-bottom: 0
}

div.product .images>a {
    display: block;
    padding-bottom: 0
}

div.product .images > a img {
    display: block;
    width: 100%;
    height: auto
}

div.product .quantity {
    margin-bottom: 24px
}

div.product .price {
    font-size: 18px;
    font-size: 1.125rem;
    line-height: 1.67667
}

div.product ins .amount {
    font-weight: bold
}

div.product .product_meta {
    margin: 24px 0
}

.thumbnails {
    display: -ms-flexbox;
    display: flex;
    margin-top: 12px;
    margin-left: -12px
}

.thumbnails>* {
    padding-bottom: 0;
    padding-left: 12px;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%
}

.thumbnails img {
    display: block;
    width: 100%
}

.thumbnails a {
    display: block;
    margin-bottom: 12px
}

.thumbnails a img {
    max-width: 100%;
    height: auto
}

.entry-summary .cart {
    padding: 24px 0;
    border-top: 2px solid #bfbfbf;
    border-bottom: 2px solid #bfbfbf
}

.entry-summary .cart .quantity-container {
    margin-bottom: 24px
}

.panel {
    border-bottom: 1px dotted #1a1717
}

.panel:first-child .panel__entry-content {
    display: block
}

.panel:last-child {
    border-bottom: 0
}

.panel__title {
    border-bottom: 0
}

.panel__entry-content {
    display: none
}

.panel__entry-content h2 {
    display: none
}

#reviews .comment_container img {
    float: left;
    margin: 0 12px 12px 0
}

#review_form_wrapper {
    margin-top: 24px
}

@media not screen and (min-width: 900px) {
    #review_form_wrapper .comment-form-author,
    #review_form_wrapper .comment-form-email {
        width: 100%
    }
}

@media only screen and (min-width: 900px) {
    #review_form_wrapper .comment-form-author,
    #review_form_wrapper .comment-form-email {
        width: 50%
    }
}

#review_form_wrapper #submit {
    border: 0
}

.comment-form-rating {
    padding-left: 24px
}

.comment-text {
    color: #1a1717
}

.related.products .mosaic-wrapper {
    margin: 0 -12px
}

@media not screen and (min-width: 900px) {
    .related.products .add_to_cart_button {
        display: none
    }
}

.woocommerce p.stars,
.woocommerce-page p.stars {
    font-size: 1em;
    position: relative
}

.woocommerce p.stars a,
.woocommerce-page p.stars a {
    font-weight: 700;
    position: relative;
    display: inline-block;
    margin-right: 1em;
    text-indent: -9999px;
    border-bottom: 0
}

.woocommerce p.stars a:last-child,
.woocommerce-page p.stars a:last-child {
    border-right: 0
}

.woocommerce p.stars a.star-1,
.woocommerce p.stars a.star-2,
.woocommerce p.stars a.star-3,
.woocommerce p.stars a.star-4,
.woocommerce p.stars a.star-5,
.woocommerce-page p.stars a.star-1,
.woocommerce-page p.stars a.star-2,
.woocommerce-page p.stars a.star-3,
.woocommerce-page p.stars a.star-4,
.woocommerce-page p.stars a.star-5 {
    border-right: 1px solid #ccc
}

.woocommerce p.stars a.star-1:after,
.woocommerce p.stars a.star-2:after,
.woocommerce p.stars a.star-3:after,
.woocommerce p.stars a.star-4:after,
.woocommerce p.stars a.star-5:after,
.woocommerce-page p.stars a.star-1:after,
.woocommerce-page p.stars a.star-2:after,
.woocommerce-page p.stars a.star-3:after,
.woocommerce-page p.stars a.star-4:after,
.woocommerce-page p.stars a.star-5:after {
    font-family: WooCommerce;
    position: absolute;
    top: 0;
    left: 0;
    text-indent: 0
}

.woocommerce p.stars a.star-1,
.woocommerce-page p.stars a.star-1 {
    width: 2em
}

.woocommerce p.stars a.star-1:after,
.woocommerce-page p.stars a.star-1:after {
    content: '\e021'
}

.woocommerce p.stars a.star-1.active:after,
.woocommerce p.stars a.star-1:hover:after,
.woocommerce-page p.stars a.star-1.active:after,
.woocommerce-page p.stars a.star-1:hover:after {
    content: '\e020'
}

.woocommerce p.stars a.star-2,
.woocommerce-page p.stars a.star-2 {
    width: 3em
}

.woocommerce p.stars a.star-2:after,
.woocommerce-page p.stars a.star-2:after {
    content: '\e021\e021'
}

.woocommerce p.stars a.star-2.active:after,
.woocommerce p.stars a.star-2:hover:after,
.woocommerce-page p.stars a.star-2.active:after,
.woocommerce-page p.stars a.star-2:hover:after {
    content: '\e020\e020'
}

.woocommerce p.stars a.star-3,
.woocommerce-page p.stars a.star-3 {
    width: 4em
}

.woocommerce p.stars a.star-3:after,
.woocommerce-page p.stars a.star-3:after {
    content: '\e021\e021\e021'
}

.woocommerce p.stars a.star-3.active:after,
.woocommerce p.stars a.star-3:hover:after,
.woocommerce-page p.stars a.star-3.active:after,
.woocommerce-page p.stars a.star-3:hover:after {
    content: '\e020\e020\e020'
}

.woocommerce p.stars a.star-4,
.woocommerce-page p.stars a.star-4 {
    width: 5em
}

.woocommerce p.stars a.star-4:after,
.woocommerce-page p.stars a.star-4:after {
    content: '\e021\e021\e021\e021'
}

.woocommerce p.stars a.star-4.active:after,
.woocommerce p.stars a.star-4:hover:after,
.woocommerce-page p.stars a.star-4.active:after,
.woocommerce-page p.stars a.star-4:hover:after {
    content: '\e020\e020\e020\e020'
}

.woocommerce p.stars a.star-5,
.woocommerce-page p.stars a.star-5 {
    width: 6em;
    border: 0
}

.woocommerce p.stars a.star-5:after,
.woocommerce-page p.stars a.star-5:after {
    content: '\e021\e021\e021\e021\e021'
}

.woocommerce p.stars a.star-5.active:after,
.woocommerce p.stars a.star-5:hover:after,
.woocommerce-page p.stars a.star-5.active:after,
.woocommerce-page p.stars a.star-5:hover:after {
    content: '\e020\e020\e020\e020\e020'
}

.woocommerce-MyAccount-navigation ul {
    font-family: 'Merriweather', serif;
    font-size: .8125rem;
    margin-bottom: 1.5rem;
    margin-left: 0;
    list-style-type: none;
    text-transform: uppercase;
    color: white;
    background: #1a1717
}

.woocommerce-MyAccount-navigation li {
    display: inline-block
}

.woocommerce-MyAccount-navigation a {
    display: block;
    padding: 12px;
    color: white;
    border-bottom: 0
}

.woocommerce-MyAccount-navigation a.current,
.woocommerce-MyAccount-navigation a:hover {
    color: #2ecc71
}

@font-face {
    font-family: 'WooCommerce';
    src: url('../font/WooCommerce.eot');
    src: url('../font/WooCommerce.eot?#iefix') format('embedded-opentype'), url('../font/WooCommerce.woff') format('woff'), url('../font/WooCommerce.ttf') format('truetype'), url('../font/WooCommerce.svg#svgFontName') format('svg')
}

.woocommerce .button {
    border: none
}

.woocommerce-message {
    padding: 24px
}

.woocommerce-info {
    margin-bottom: 12px
}

.woocommerce-error {
    padding: 24px;
    border: 1px solid red
}

.woo__message-line {
    margin-bottom: 12px
}

.woo__message-line .pixcode--icon {
    margin-right: 24px
}

.quantity-container input {
    display: inline-block;
    height: 48px;
    vertical-align: top;
    border: 0
}

.quantity-container .qty {
    width: 100px;
    text-align: center;
    border: 1px solid #1a1717
}

.quantity-container .plus,
.quantity-container .minus {
    padding: 0 12px;
    outline: none;
    background: #bfbfbf
}

.onsale {
    position: absolute;
    z-index: 1;
    top: 12px;
    left: 12px
}

.variation dd {
    margin-left: 0
}

.cart_totals input,
.cart_totals label {
    display: inline-block
}

form.checkout {
    position: relative !important;
    zoom: reset !important
}

.woocommerce-Message .woocommerce-Button {
    margin-right: 12px
}